html
    head
        title all issues
        link(rel="stylesheet" href="https://unpkg.com/@atlaskit/css-reset@2.0.0/dist/bundle.css" media="all")
        script(src="https://connect-cdn.atl-paas.net/all.js" async)
    body
        section#content.ac-connect
            h1 Issues:
            ul
                for issue in issues
                    li #{issue}

                    
